.blog-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}
.blog-container h1{
    color: #444;
    font-size: 30px;
    font-family: "M-Heading-Font";
    padding: 30px;
    letter-spacing: 2.5px;
}
.blog-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
}
.blog-content div{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    text-align: start;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    gap: 20px;
}
.blog-content div h3{
    font-size: 16px;
    font-weight: 400;
}
.blog-content div p{
    color: #807d7d;
}
.blog-content div img{
    width: 30vw;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
