.footer {
    border-top: 2px solid #d83f3f;
    margin-top: 70px;
    background:var(--bg-color);
    color: #444;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .footer-top {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    padding: 60px 80px;
    gap: 30px;
  }
  
  .footer-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-title.static {
    cursor: default;
  }
  
  .arrow {
    display: none;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color:#444444;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-links a:hover {
    color: #f33131;
  }
  
  .contact p {
    font-size: 14px;
    color: #444444;
    margin-bottom: 8px;
  }
  
  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 20px;
    font-size: 13px;
    color: #e73232;
  }
  .footer-links a {
    position: relative;
    color: #444444;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.6s ease;
    -webkit-transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -ms-transition: color 0.6s ease;
    -o-transition: color 0.6s ease;
}
  
  /* underline */
  .footer-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #444;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease;
    -webkit-transition: transform 0.25s ease;
    -moz-transition: transform 0.25s ease;
    -ms-transition: transform 0.25s ease;
    -o-transition: transform 0.25s ease;
}
  
  /* hover effect */
  .footer-links a:hover {
    color: #444;
  }
  
  .footer-links a:hover::after {
    transform: scaleX(1);
  }
  /* Mobile accordion */
  @media (max-width: 768px) {
    .footer-top {
      grid-template-columns: 1fr;
      padding: 40px 20px;
    }
  
    .arrow {
      display: block;
    }
  
    .footer-links {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
      -webkit-transition: max-height 0.3s ease;
      -moz-transition: max-height 0.3s ease;
      -ms-transition: max-height 0.3s ease;
      -o-transition: max-height 0.3s ease;
}
  
    .footer-links.open {
      max-height: 500px;
    }
  }