.item{
  width: 100%;
  height: 100%;
}
.item-image {
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-radius: 8px;
}
item-image img {
  object-fit: cover;
  object-position: center;
}
.item-image:hover img {
  transition: transform 0.8s ease-in-out;
  transform: scale(1.08);
  -webkit-transition: transform 0.8s ease-in-out;
  -moz-transition: transform 0.8s ease-in-out;
  -ms-transition: transform 0.8s ease-in-out;
  -o-transition: transform 0.8s ease-in-out;
}

.item-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 14px;
  gap: 10px;
}
.buttons{
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}
.cartbutton{
  width: 180px;
  height: 45px;
  border: none;
  background: var(--button-bg);
  color: var(--button-text);
  font-size: 16px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
.countbutton{
  width: 120px;
  height: 45px;
  border: var(--heading-color) 2px solid;
  font-size: 16px;
  font-weight: 600;
  color: var(--heading-color);
  background: var(--surface-color);
  border-radius:28px;
  -webkit-border-radius:28px;
  -moz-border-radius:28px;
  -ms-border-radius:28px;
  -o-border-radius:28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}