.navbar {
  width: 100vw;
  height: 12vh;
  background: var(--bg-color);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navcontainer {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo img {
  width: 60px;
}

.navlinks {
  display: flex;
  gap: 40px;
  font-size: 18px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navlinks li {
  list-style: none;
}

.navlinks a {
  text-decoration: none;
  color: var(--text-color);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1200;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.hamburger span {
  width: 21px;
  height: 3px;
  background: var(--text-color);
  border-radius: 5px;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

/* X animation */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  -moz-transform: rotate(45deg) translate(5px, 5px);
  -ms-transform: rotate(45deg) translate(5px, 5px);
  -o-transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -5px);
  -webkit-transform: rotate(-45deg) translate(3px, -5px);
  -moz-transform: rotate(-45deg) translate(3px, -5px);
  -ms-transform: rotate(-45deg) translate(3px, -5px);
  -o-transform: rotate(-45deg) translate(3px, -5px);
}

@media (max-width: 1024px) {

  .hamburger {
    display: flex;
  }

  .logo img {
    width: 80px;
    padding-left: 20px;
  }

  .navlinks {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;

    background: var(--bg-color);
    padding: 100px 20px;

    flex-direction: column;
    gap: 24px;

    transform: translateX(-100%);
    transition: transform 0.35s ease-in-out;
    z-index: 1100;
  }

  .navlinks.open {
    transform: translateX(0);
  }

  .navlinks li {
    font-size: 18px;
  }
}


