.ratings-banner{
    background-color: rgb(186, 31, 31);
    height: 15vh;
    margin: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}